
div.admin-container div.admin-header {
   background-image: url( /simple-portal/images/admin/main-header-bg.gif );
   background-repeat: repeat-x;
   background-position: top left;
   height: 42px;
   border-bottom: 1px solid #989898;
   position: relative;
}

div.admin-container div.admin-header div.expand {
   position: absolute;
   bottom: 5px;
   left: 10px;
}

div.admin-container div.admin-header div.collapse {
   position: absolute;
   bottom: 5px;
   left: 100px;
}

div.admin-container div.admin-header div.expand a,
   div.admin-container div.admin-header div.collapse a {
   text-decoration: none
}

div.admin-container div.admin-header>div img {
   margin: 0 5px 0 0;
}

div.admin-container div.par-container {

}

div.admin-container div.par-container div.par-header {
   background-image: url( /simple-portal/images/admin/par-header.gif);
   background-repeat: no-repeat;
   background-position: top left;
   height: 48px;
   border-bottom: 2px solid #989898;
   position: relative;
}

div.admin-container div.par-container div.par-header-left {
   position: absolute;
   bottom: 5px;
   left: 10px;
}

div.admin-container div.par-container div.par-header-left a {
   text-decoration: none;
}

div.admin-container div.par-container div.par-header-left h3.par {
   display: inline;
   color: #4c1010;
   font-size: 1.2em;
}

div.admin-container div.par-container div.par-header-right {
   position: absolute;
   top: 0;
   right: 0;
   width: 140px;
   height: 19px;
}

div.admin-container div.par-container div.par-header-right div.par-control {
   background-image: url( /simple-portal/images/admin/start-stop-bg.gif );
   background-repeat: repeat-x;
   background-position: top left;
   width: 65px;
   height: 19px;
   float: right;
   position: relative; /*border-bottom: 1px solid #c3c3c3;*/
}

div.admin-container div.par-container div.par-header-right div.par-control a {
   top: 1px;
   left: 18px;
   position: absolute;
   font-weight: bold;
}

div.admin-container div.par-container div.par-header-right>span.par-status {
   float: left;
   padding: 2px 0 0 0;
}

div.admin-container div.par-container div.par-header-right>span.par-status img {
   margin: 0 5px 0 0;
}

table.par-table {
   margin: 0;
   padding: 0;
   /*border-collapse: collapse;*/
   border-spacing: 0;
   border: 1px solid #999;
}

table.par-table td {
   padding: 0 0 0 3px;
   width: 25%;
}

table.par-table tr.par-subhead {
   background-image: url( /simple-portal/images/admin/sub-header-bg.gif );
   background-repeat: repeat-x;
   background-position: top left;
}

table.par-table tr.par-subhead td {
   height: 25px;
   border-bottom: #d2d2d2;
   color: #fff;
   font-weight: bold;
}

table.par-table td img.icon {
   margin: 0 3px 0 0;
}

table.par-table td img.failed {
   margin: 0 0 0 3px;
}

table.par-table td.par-header-left {
   padding: 0 0 0 15px;
}

table.par-table td.par-row-left {
   padding: 0 0 0 15px;
}

table.par-table td.par-row-right {
   text-align: right;
   padding: 0 5px 0 0;
}

a.start {
   color: #17600e
}

a.stop {
   color: #9e0606;
}

table.par-table tr.par-container-row {
   background-image: url( /simple-portal/images/admin/container-bg.gif );
   background-repeat: repeat-x;
   background-position: top left;
   height: 38px;
   border-bottom: 1px solid #fff;
}

table.par-table tr.par-filter-row {
   background-image: url( /simple-portal/images/admin/filter-bg.gif );
   background-repeat: repeat-x;
   background-position: top left;
   height: 38px;
   border-bottom: 1px solid #fff;
}