div.debug-container {
   padding: 10px 0 0 0;
}

div.debug-container div.event {
   cursor: pointer;
}

div.debug-container div.event div.event-header {
  padding: 0 0 0 20px;

}

div.debug-container div.event div.event-header h4 {
   font-size: 1em;
   padding: 0;
   margin: 0;
}

div.debug-container div.event div.event-body {
  padding: 0 0 0 20px;
  font-size: .95em;
}

div.debug-container div.event div.event-body p {
  border-bottom: 1px solid #aaa;
}

div.debug-container div.event div.event-body label {
   font-weight: bold;
   color: #222;
}

div.debug-container div.event div.event-body div.details label {
   color: #555;
}

div.debug-container div.event div.event-body div.details {
   background-color: #eee;
   padding: 2px;
   color:#000;
   font-size: .9em;
}

div.debug-container div.event div.event-body div.details div.details-frame {
   border: 1px solid #fff;
   padding: 2px
}

div.dotted-white {
   border-bottom: 1px dotted #fff;
   height: 1px;
   line-height: 1px;
}

div.debug-container div.event div.event-body img {

}

div.debug-container div.event div.children {
   padding: 0 0 0 20px;
}

div.debug-container div.event div.children div.event-header {
   background: url(/simple-portal/images/debug/arrow-elbow.gif) no-repeat top left
}

div.debug-container div.event div.error {
   background: url(/simple-portal/images/debug/alert-small.gif) no-repeat 7px 3px
}