<?xml version="1.0"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ JBoss, a division of Red Hat                                              ~
  ~ Copyright 2008, Red Hat Middleware, LLC, and individual                   ~
  ~ contributors as indicated by the @authors tag. See the                    ~
  ~ copyright.txt in the distribution for a full listing of                   ~
  ~ individual contributors.                                                  ~
  ~                                                                           ~
  ~ This is free software; you can redistribute it and/or modify it           ~
  ~ under the terms of the GNU Lesser General Public License as               ~
  ~ published by the Free Software Foundation; either version 2.1 of          ~
  ~ the License, or (at your option) any later version.                       ~
  ~                                                                           ~
  ~ This software is distributed in the hope that it will be useful,          ~
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of            ~
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU          ~
  ~ Lesser General Public License for more details.                           ~
  ~                                                                           ~
  ~ You should have received a copy of the GNU Lesser General Public          ~
  ~ License along with this software; if not, write to the Free               ~
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA        ~
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.                  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
   <context-param>
      <param-name>jboss.portal.mc.beans_resource_location</param-name>
      <param-value>/WEB-INF/jboss-portal-beans.xml</param-value>
   </context-param>
   <filter>
      <filter-name>ErrorHandlingFilter</filter-name>
      <filter-class>org.gatein.pc.portal.ErrorHandlingFilter</filter-class>
   </filter>
   <filter>
      <filter-name>ControllerFilter</filter-name>
      <filter-class>org.gatein.pc.portal.jsp.ControllerFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>ErrorHandlingFilter</filter-name>
      <url-pattern>*.jsp</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>ControllerFilter</filter-name>
      <url-pattern>*.jsp</url-pattern>
   </filter-mapping>
   <listener>
      <listener-class>org.gatein.common.mc.bootstrap.WebBootstrap</listener-class>
   </listener>
   <servlet>
      <servlet-name>ContainerServlet</servlet-name>
      <servlet-class>org.gatein.wci.impl.tomcat.TC6ContainerServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
</web-app>
